name: Pipeline
run-name: Deploy in live by ${{github.actor}}
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/*"
  pull_request:
    branches:
      - main
    paths:
      - "*.md"
      

jobs: 
  job1:
    environment: ${{github.ref == 'main' && 'production' || 'develop'}}
    runs-on: ubuntu-latest
    steps:
      - name: Print Message job1
        run:  echo "Hello, ${{ vars.NAME }}" 

      - name: ECHO SECRETO
        run:  echo "${{ secrets.SECRETO }}" > secreto.txt

  job2:
    environment: production
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Print Message job2
        run:  echo "Hello, ${{ vars.NAME }}" 

      - name: ECHO SECRETO
        run:  echo "${{ secrets.SECRETO }}" > secreto.txt
          

  job3:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Print Message job3
        run:  echo "Hello, ${{ vars.NAME }}" 

      - name: ECHO SECRETO
        run:  echo "${{ secrets.SECRETO }}" > secreto.txt




