name: Pipeline
run-name: Deploy in live
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/*"
  pull_request:
    branches:
      - main
      

jobs: 
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - run: ls -la 
      
      - name: Print Message
        run:  echo "Hello word" 
      - name: Echo File
        run: cat hola.txt
        


  job2:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      -  name: Print Message job2
         run: echo "Hello, word"
          






