name: Pipeline
run-name: Deploy in live
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/*"
  pull_request:
    branches:
      - main
    paths:
      - "*.md"
      

jobs: 
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - run: ls -la 
      
      - name: Print Message
        run:  echo "Hello, algo-${{ vars.NAME }}-MAS!" 

      - name: ECHO SECRETO
        run:  echo "${{ secrets.SECRETO }}" > secreto.txt
        
      - name: Echo File
        run: |
              cat hola.txt 
              cat secreto.txt
        


  job2:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      -  name: Print Message job2
         run: echo "Hello, word"
          






