name: Pipeline
run-name: Deploy in live by ${{github.actor}}
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "*.md"
      

jobs: 
  job1:
    environment: ${{github.ref_name == 'main' && 'production' || 'develop'}}
    runs-on: ubuntu-latest
    steps:
      - name: Print Message job1
        run:  echo "Hello, ${{ vars.NAME }}" 

      - name: ECHO SECRETO
        run:  echo "${{ secrets.SECRETO }}" > secreto.txt






